// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "theme-colors" as theme;
@use "../abstracts/variables" as var;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  // https://github.com/angular/components/blob/main/src/material/core/tokens/_m3-tokens.scss
  @include mat.theme-overrides(
    (
      primary: var.$nf-color-primary,
      on-primary: var.$nf-color-on-primary,

      //// Remove ripple effect
      // state-layer-opacity: 0,
      // hover-state-layer-opacity: 0,
      // focus-state-layer-opacity: 0,
      // pressed-state-layer-opacity: 0,
      // dragged-state-layer-opacity: 0,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: var.$nf-radius-medium,
      filled-label-text-weight: var.$nf-font-weight-bold,
      filled-label-text-size: var.$nf-font-size-large,
    )
  );
}
