.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.user-row:hover {
  background-color: #f2f2f2;
}

th {
  padding: 8px;
  text-align: left;
}
