<main class="home-background">
  <div class="container">
    <section class="hero">
      <div class="hero-container">
        <div class="headline">
          <h1 class="title">Unlimited movies, TV shows, and more</h1>
          <p class="subtitle">Starts at $6.99. Cancel anytime.</p>
        </div>
        <div class="get-started">
          <p class="message">Ready to watch? Enter your email to create or restart your membership.</p>
          <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="input-group">
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Email address</mat-label>
              <input matInput type="email" placeholder="example@example.com" formControlName="email" />
              <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="emailForm.get('email')?.hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
            <button type="submit" mat-flat-button class="btn to-register">
              Get Started
              <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>