header.global-header {
  height: var(--global-header-height);
  background-color: var(--primary-color);
  color: var(--primary-on-color);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding: 0 var(--spacing-md);
    max-width: var(--container-width);
    margin: 0 auto;

    .logo {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .nav-list {
      display: flex;
      gap: var(--spacing-lg);

      .nav-item {
        font-size: 1.2rem;
        font-weight: 600;

        &:hover {
          filter: brightness(1.05);
          text-decoration: underline;
          text-underline-offset: 2px;
        }

        .active-link {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }
  }
}
