*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Arial", "Montserrat", sans-serif;
}

:root {
  --global-header-height: 80px;
  --container-width: 1440px;

  --primary-color: #eb0000;
  --primary-on-color: hsl(0, 0%, 95%);

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 36px;
  --spacing-2xl: 48px;
}
