.directory-container {
  padding: var(--spacing-xl) var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  .title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
  }
}
