<div class="img-background">
  <div class="page-container">
    <section class="login-container">
      <h1 class="title">Sign In</h1>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="example@example.com" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <div class="form-row">
          <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
          <a href="#" class="link forgot-password">Forgot password?</a>
        </div>
        <button type="submit" mat-flat-button class="btn sign-in">
          Sign In
        </button>
      </form>
      <div class="sign-up-container">
        <span class="sign-up-text">New to Netflix?</span>
        <a [routerLink]="toSignup" class="link sign-up">Sign up now.</a>
      </div>
      <p class="recaptcha-text">
        This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#"
          class="link recaptcha-link">Learn more.</a>
      </p>
    </section>
  </div>
</div>