.container {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;

  h1 {
    text-align: center;
    margin-bottom: 16px;
  }

  .new-todo-form {
    display: flex;

    input {
      width: 100%;
    }

    label {
      width: 100%;
    }
  }

  button {
    padding: 4px 8px;
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;

  .todo-item {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .todo-control {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 4px;

      .title-box {
        width: 100%;
      }

      &:hover {
        background-color: rgba(222, 222, 222, 0.4);
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    gap: 8px;
  }
}
