<div class="step-container">
  <div class="header">
    <span class="step">Step 2 of 3</span>
    <h2 class="title">Create your username and add TMDB API key</h2>
    <p class="description">
      Just a few more steps and you're done! <br />
      We hate paperwork, too.
    </p>
  </div>
  <form class="form-container" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Enter your username</mat-label>
      <input matInput type="text" placeholder="Username" formControlName="username" />
      <mat-error *ngIf="accountForm.get('username')?.hasError('required')">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Add TMDB API key</mat-label>
      <input matInput type="text" placeholder="TMDB API key" formControlName="apiKey" />
      <mat-error *ngIf="accountForm.get('apiKey')?.hasError('required')">TMDB API key is required</mat-error>
    </mat-form-field>
    <button type="submit" mat-flat-button class="btn to-next-step">
      Next
    </button>
  </form>
</div>