<div class="step-container">
  <div class="header">
    <span class="step">Step 1 of 3</span>
    <h2 class="title">Create a password to start your membership</h2>
    <p class="description">
      Just a few more steps and you're done! <br />
      We hate paperwork, too.
    </p>
  </div>
  <form class="form-container" [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Enter your email</mat-label>
      <input matInput type="email" placeholder="Email" formControlName="email" />
      <mat-error *ngIf="credentialsForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="credentialsForm.get('email')?.hasError('email')">Invalid email address</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Add a password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="credentialsForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="credentialsForm.get('password')?.hasError('minlength')">Password must be at least 6
        characters</mat-error>
    </mat-form-field>
    <button type="submit" mat-flat-button class="btn to-next-step">
      Next
    </button>
  </form>
</div>