.step-container {
  display: flex;
  flex-direction: column;
  gap: var(--nf-spacing-4xl);
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  padding: var(--nf-spacing-md);
  margin-top: var(--nf-spacing-3xl);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--nf-spacing-md);

  .title {
    font-size: var(--nf-font-size-3xl);
    font-weight: var(--nf-font-weight-bold);
  }

  .description {
    color: var(--nf-color-text-secondary);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--nf-spacing-md);

  .btn.to-next-step {
    margin-top: var(--nf-spacing-lg);
    height: 56px;
    font-size: var(--nf-font-size-xl);
    font-weight: var(--nf-font-weight-bold);
  }
}
