@use "./functions" as *;

$nf-color-primary: #e50914;
$nf-color-on-primary: #ffffff;
$nf-color-surface: #000000;
$nf-color-on-surface: #ffffff;
$nf-color-on-surface-variant: hsla(0, 0%, 70%, 1);
$nf-color-outline: rgba(128, 128, 128, 0.7);
$nf-color-outline-focus: #ffffff;

$nf-color-placeholder: hsla(0, 0%, 40%, 1);

$nf-gradient-surface: linear-gradient(
  360deg,
  rgba(0, 0, 0, 0.85) 8%,
  rgba(0, 0, 0, 0.8465) 15.67%,
  rgba(0, 0, 0, 0.8361) 23.33%,
  rgba(0, 0, 0, 0.8187) 31%,
  rgba(0, 0, 0, 0.7944) 38.67%,
  rgba(0, 0, 0, 0.7632) 46.33%,
  rgba(0, 0, 0, 0.725) 54%,
  rgba(0, 0, 0, 0.6868) 61.67%,
  rgba(0, 0, 0, 0.6556) 69.33%,
  rgba(0, 0, 0, 0.6312) 77%,
  rgba(0, 0, 0, 0.6139) 84.67%,
  rgba(0, 0, 0, 0.6035) 92.33%,
  rgba(0, 0, 0, 0.6) 100%
);

$nf-header-height: 88px;

$nf-z-index-header: 1000;

$nf-font-family: Roboto, "Helvetica Neue", sans-serif;

$nf-font-size-xs: rem(12);
$nf-font-size-sm: rem(14);
$nf-font-size-md: rem(16);
$nf-font-size-lg: rem(18);
$nf-font-size-xl: rem(20);
$nf-font-size-2xl: rem(24);
$nf-font-size-3xl: rem(32);
$nf-font-size-4xl: rem(40);
$nf-font-size-5xl: rem(48);
$nf-font-size-6xl: rem(56);
$nf-font-size-7xl: rem(64);
$nf-font-size-8xl: rem(72);
$nf-font-size-9xl: rem(80);

$nf-font-weight-normal: 400;
$nf-font-weight-medium: 500;
$nf-font-weight-bold: 700;
$nf-font-weight-black: 800;

$nf-line-height-xs: 1;
$nf-line-height-sm: 1.1;
$nf-line-height-md: 1.25;
$nf-line-height-lg: 1.375;
$nf-line-height-xl: 1.5;
$nf-line-height-2xl: 1.625;
$nf-line-height-3xl: 1.75;
$nf-line-height-4xl: 2;

$nf-letter-spacing-xs: -0.05em;
$nf-letter-spacing-sm: -0.025em;
$nf-letter-spacing-md: 0em;
$nf-letter-spacing-lg: 0.025em;
$nf-letter-spacing-xl: 0.05em;
$nf-letter-spacing-2xl: 0.1em;

$nf-radius-sm: 4px;
$nf-radius-md: 8px;
$nf-radius-lg: 16px;

$nf-spacing-sm: 4px;
$nf-spacing-md: 8px;
$nf-spacing-lg: 16px;
$nf-spacing-xl: 20px;
$nf-spacing-2xl: 24px;
$nf-spacing-3xl: 32px;
$nf-spacing-4xl: 40px;

$nf-screen-width-sm: 768px;
$nf-screen-width-md: 1024px;
$nf-screen-width-lg: 1280px;
$nf-screen-width-xl: 1440px;
$nf-screen-width-2xl: 1920px;

:root {
  --nf-home-bg-image: url("/assets/images/home-bg.jpg");
  --nf-header-height: #{$nf-header-height};
  --nf-z-index-header: #{$nf-z-index-header};
  --nf-color-overlay: #{$nf-gradient-surface};

  --nf-screen-width-sm: #{$nf-screen-width-sm};
  --nf-screen-width-md: #{$nf-screen-width-md};
  --nf-screen-width-lg: #{$nf-screen-width-lg};
  --nf-screen-width-xl: #{$nf-screen-width-xl};
  --nf-screen-width-2xl: #{$nf-screen-width-2xl};

  --nf-font-family: #{$nf-font-family};

  --nf-font-size-xs: #{$nf-font-size-xs};
  --nf-font-size-sm: #{$nf-font-size-sm};
  --nf-font-size-md: #{$nf-font-size-md};
  --nf-font-size-lg: #{$nf-font-size-lg};
  --nf-font-size-xl: #{$nf-font-size-xl};
  --nf-font-size-2xl: #{$nf-font-size-2xl};
  --nf-font-size-3xl: #{$nf-font-size-3xl};
  --nf-font-size-4xl: #{$nf-font-size-4xl};
  --nf-font-size-5xl: #{$nf-font-size-5xl};
  --nf-font-size-6xl: #{$nf-font-size-6xl};
  --nf-font-size-7xl: #{$nf-font-size-7xl};
  --nf-font-size-8xl: #{$nf-font-size-8xl};
  --nf-font-size-9xl: #{$nf-font-size-9xl};

  --nf-font-weight-normal: #{$nf-font-weight-normal};
  --nf-font-weight-medium: #{$nf-font-weight-medium};
  --nf-font-weight-bold: #{$nf-font-weight-bold};
  --nf-font-weight-black: #{$nf-font-weight-black};

  --nf-line-height-xs: #{$nf-line-height-xs};
  --nf-line-height-sm: #{$nf-line-height-sm};
  --nf-line-height-md: #{$nf-line-height-md};
  --nf-line-height-lg: #{$nf-line-height-lg};
  --nf-line-height-xl: #{$nf-line-height-xl};
  --nf-line-height-2xl: #{$nf-line-height-2xl};
  --nf-line-height-3xl: #{$nf-line-height-3xl};
  --nf-line-height-4xl: #{$nf-line-height-4xl};

  --nf-letter-spacing-xs: #{$nf-letter-spacing-xs};
  --nf-letter-spacing-sm: #{$nf-letter-spacing-sm};
  --nf-letter-spacing-md: #{$nf-letter-spacing-md};
  --nf-letter-spacing-lg: #{$nf-letter-spacing-lg};
  --nf-letter-spacing-xl: #{$nf-letter-spacing-xl};
  --nf-letter-spacing-2xl: #{$nf-letter-spacing-2xl};

  --nf-spacing-sm: #{$nf-spacing-sm};
  --nf-spacing-md: #{$nf-spacing-md};
  --nf-spacing-lg: #{$nf-spacing-lg};
  --nf-spacing-xl: #{$nf-spacing-xl};
  --nf-spacing-2xl: #{$nf-spacing-2xl};
  --nf-spacing-3xl: #{$nf-spacing-3xl};
  --nf-spacing-4xl: #{$nf-spacing-4xl};
}
