.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-global-header {
  height: var(--nf-header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--nf-z-index-header);
}

main {
  padding-top: var(--nf-header-height);
  flex: 1;
}
